<div class="string-field-viewer" ...attributes>
  <span class="string-field-viewer__label">
    {{@fieldLabel}}
  </span>
  <div class="string-field-viewer__value">
    {{@fieldValue}}
  </div>
</div>