/* View field (default) */
.view-field {
  display: grid;
  grid-template-columns: minmax(130px, 20%) 1fr;
  gap: 0 29px;
}

.view-field--no-title {
  grid-template-columns: 1fr;
}

.view-field__title {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: calc(24/13);
  text-transform: uppercase;
}

.view-field__value {
  color: #393642;
}

.view-field--title-field {
  color: black;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: calc(34/24);
}

.view-field--avg-user-rating-field .view-field__value::before {
  content: url(/assets/images/icons/star-filled.svg);
  display: inline-block;
  margin-right: 10px;
}


/* Edit field */
.edit-field {
  display: grid;
  grid-template-columns: minmax(16%, 130px) minmax(225px, 450px);
  gap: 0 29px;
}

.edit-field__title {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: calc(24/13);
  text-transform: uppercase;
}

.edit-field__value {
  color: #393642;
}

.edit-field--title-field {
  color: black;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: calc(34/24);
}

.cs-input {
  display: inline-block;
  height: auto;
  min-height: 50px;
  width: 450px;
  max-width: 100%;
  padding: 19px 20px 15px;
  color: #393642;
  font: inherit;
  letter-spacing: inherit;
  transition: none;
}
.cs-input:focus {
  background-color: initial;
  border-color: #00EBE5;
  outline: 2px solid #00EBE5;
  outline-offset: -3px;
}
.cs-input:hover:not(:focus) {
  background-color: initial;
  border-color: #272330;
  border-width: 1px;
}


.field-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px 15px;
  align-items: center;
  color: #393642;
}

.cs-input--date {
  width: 225px;
  background: url('/assets/images/icons/calendar.svg') center right 17px/14.4px 16px no-repeat;
}

.cs-input--number,
.cs-input--numeric {
  width: 100px;
}

.edit-field--avg-user-rating-field .cs-input {
  background: url('/assets/images/icons/star-filled.svg') left 17px center/18px 16px no-repeat;
  padding-left: 49px;
}
.edit-field--avg-user-rating-field .edit-field__value::after {
  content: 'out of 10 stars';
  display: inline-block;
  margin-left: 10px;
}


/* collection */
.collection-editor {
  display: grid;
  gap: 10px;
  padding: 10px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
}

.collection-editor--list {
  grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
}

.collection-editor--item {
  display: grid;
  gap: 10px;
  padding: 9px 0 8px 15px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  font-size: 13px;
  color: #393642;
}

.collection-editor--list-item {
  grid-auto-flow: column;
  justify-items: space-between;
  width: auto;
  min-width: 90px;
}

.collection-editor--remove-btn {
  display: block;
  padding: 0 10px;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
}


/* Dropdown */
.cs-dropdown .ember-power-select-trigger {
  width: 225px;
  padding: 18px 15px 16px;
  border-color: #AFAFB7;

}

.cs-dropdown .ember-power-select-selected-item {
  color: #393642;
  letter-spacing: 0.025em;
}

.cs-dropdown .ember-power-select-option {
  color: #393642;
  letter-spacing: 0.025em;
}

.cs-dropdown .ember-power-select-status-icon {
  background: url('/assets/images/icons/dropdown.svg') center/contain no-repeat;
}
