.media-collection-table {
  --table-border-color: #dedede;

  z-index: 1;
  height: calc(100% - 180px);
}

.media-collection-table > table {
  width: 100%;
  border-spacing: 0 2px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.media-collection-table__header th {
  height: 60px;
  padding: 20px 20px 15px;
  background-color: white;
  border-bottom: 1px solid var(--table-border-color);
  font-size: 11px;
  font-weight: bold;
  line-height: calc(15/11);
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}

.media-collection-table__header th:first-of-type {
  padding-left: 54px;
}

.media-collection-table tr:hover {
  box-shadow: var(--boxel-box-shadow);
}

.media-collection-table__body td {
  position: relative;
  padding: 0;
  background-color: white;
}

.media-collection-table__cell {
  position: relative;
  display: grid;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid var(--table-border-color);
}

.media-collection-table__cell-value {
  min-height: 60px;
  padding: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-collection-table__play-btn {
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  padding: 0;
  opacity: 0.25;
  z-index: 2;
  transition: opacity var(--boxel-transition);
}

.media-collection-table tr:hover .media-collection-table__play-btn {
  opacity: 1;
}

.media-collection-table__select-btn {
  --icon-border: transparent;
}

.media-collection-table tr:hover .media-collection-table__select-btn {
  --icon-border: black;
}

.media-collection-table__cell--first-col {
  grid-template-columns: 40px 30px auto;
  gap: 0 4px;
  padding-left: 6px;
}

.media-collection-table__cell-value--first-col {
  padding-left: 10px;
}


/* Highlighter */
.media-collection-table__highlight {
  border-right: none;
  border-left: none;
  border-radius: 0;
  outline: 0;
}

td:first-of-type .media-collection-table__highlight {
  border-left: 2px solid transparent;
}

td:last-of-type .media-collection-table__highlight {
  border-right: 2px solid transparent;
}

td:first-of-type  .media-collection-table__highlight.boxel-highlight--on,
td:last-of-type .media-collection-table__highlight.boxel-highlight--on {
  border-color: var(--boxel-highlight);
}

tr.is-selected + tr.is-selected .media-collection-table__highlight.boxel-highlight--on {
  border-top-color: transparent;
}
