.item__section {
  padding: 25px 50px;
}

.item__section + .item__section {
  border-top: var(--boxel-border);
}

.item__section-title {
  font-size: 18px;
  font-weight: 600;
  line-height: calc(24/18);
  letter-spacing: 0;
  padding-bottom: 25px;
}

.item__field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 30px;
  padding: 20px 20px 30px;
}

.item__field-title {
  font: var(--boxel-font-sm);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
  text-align: right;
}

.item__field-value {
  display: grid;
  gap: 10px;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
}

.item__field-value-title {
  padding-bottom: 10px;
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: 0.01em;
}

.item__field-value-title ~ .item__field-value-title {
  margin-top: 30px;
}


/* Card field */
.boxel-card--musical-work .boxel-card__bg-img {
  background-size: contain;
}

.boxel-card--profile .boxel-card__bg-img {
  border-radius: 100px;
}

.boxel-card--file .boxel-card__bg-img {
  height: 34px;
  background-size: 27px 34px;
  background-position: top center;
}


/* Edit Mode */

/* Fields */
.media-input-field {
  max-width: 450px;
  height: 50px;
  padding: 15px;
  background-color: white;
  color: black;
  border: var(--boxel-border);
  border-radius: 5px;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
}

.media-input-field:focus {
  border-color: var(--boxel-highlight);
  outline: 2px solid var(--boxel-highlight);
  outline-offset: -3px;
}

.media-input-field:hover:not(:focus) {
  border-color: #272330;
}

/* Array list */
.item__editor-platter {
  max-width: 450px;
  min-height: 50px;
  padding: 10px 15px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  text-align: left;
}

.item__editor-platter--taglist {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, max-content));
  gap: 5px;
  padding-right: 30px;
}

.item__pill {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
  padding: 5px 3px 5px 20px;
  background-color: var(--boxel-highlight);
  border-radius: 100px;
  white-space: nowrap;
}

.item__add-btn,
.item__remove-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: url('/assets/images/icons/icon-minus-circle.svg') center/16px 16px no-repeat;
}

.item__add-btn {
  background-image: url('/assets/images/icons/icon-plus-circle-highlight-bg.svg');
  position: absolute;
  top: 5px;
  right: -12px;
}
