/* Embedded Collection field (edit mode) */
.embedded-collection-editor {
  max-width: 450px;
  min-height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--boxel-light-200);
  border: none;
  border-radius: var(--boxel-border-radius-sm);
}

.embedded-collection-editor__header {
  padding-top: 10px;
  padding-bottom: 20px;
}

.embedded-collection-editor__header > button {
  margin: 0 auto;
}

.embedded-collection-editor__items {
  display: grid;
  gap: 10px;
}

.embedded-collection-editor__items--grid {
  grid-template-columns: repeat(auto-fill, 210px);
  justify-content: center;
}

.embedded-collection-editor__item {
  display: grid;
  align-items: center;
  justify-items: center;
}

.embedded-collection-editor__item--list {
  grid-template-columns: 1fr 45px;
  padding-left: 10px;
}

.embedded-collection-editor__item--list.embedded-collection-editor__item--multiple {
  grid-template-columns: 45px 1fr 45px;
  padding-left: 0;
}

.embedded-collection-editor__item--grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 45px;
}

.embedded-collection-editor__item--grid > .boxel-card {
  width: auto;
  grid-column: -1 / 1;
}

.embedded-collection-editor__item--grid.embedded-collection-editor__item--multiple {
  grid-template: ". select remove .";
  grid-template-rows: 1fr 45px;
  gap: 0 30px;
}

.embedded-collection-editor__item--grid.embedded-collection-editor__item--multiple .embedded-collection-editor__select-button {
  grid-area: select;
  grid-row: 2;
}

.embedded-collection-editor__item--grid.embedded-collection-editor__item--multiple .embedded-collection-editor__remove-btn {
  grid-area: remove;
  grid-row: 2;
}

.embedded-collection-editor__items--grid .embedded-collection-editor__view-all-btn-container {
  padding: 0;
}

.embedded-collection-editor__view-all-btn-container {
  grid-column: 1 / -1;
  padding: 0 45px;
}

.embedded-collection-editor__view-all-btn {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  background: none;
  color: var(--boxel-dark);
  font: var(--boxel-font-sm);
  border: var(--boxel-border);
  border-radius: var(--boxel-border-radius);
  letter-spacing: var(--boxel-lsp-sm);
  text-align: center;
}

.embedded-collection-editor__view-all-btn:hover {
  cursor: pointer;
}
