.media-registry__header {
  position: sticky;
  top: 0;
  grid-column: 2;
  grid-template:
    "title search" auto
    "nav   nav"    auto / minmax(auto, 450px) 1fr;
  padding-bottom: 0;
  z-index: 2;
}

.media-registry__nav {
  grid-area: nav;
  max-width: 450px;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-lg);
}

.media-registry__nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 10px;
}

.media-registry__nav li > a {
  padding: 0 20px 10px;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
}

.media-registry__nav li > a.active:not(.unselected) {
  font-weight: 700;
  border-color: var(--boxel-light);
}

.media-registry__search-bar {
  grid-area: search;
  align-self: center;
  justify-self: end;
  width: 240px;
  height: 30px;
  padding: 6px 15px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  border-radius: 100px;
  border: 1px solid white;
  outline: 0;
}


/* Dummy */
.media-registry__header.media-registry__header--bunny_records {
  --header-background-color: #FF1D6C;
}

.media-registry__header.media-registry__header--crd_records {
  --header-background-color: var(--boxel-blue);
}

.media-registry__header.media-registry__header--warbler-music {
  --header-background-color: var(--boxel-navy);
}

.media-registry__header.media-registry__header--somoa {
  --header-background-color: var(--boxel-lilac);
}

.media-registry__header.media-registry__header--realtunes-publishing {
  --header-background-color: #3F356F;
  --header-logo-position: bottom 0.5rem center;
  --header-logo-size: auto 3rem;
}
