<div class={{cn
  "card-space"
  card-space--logged-in=@isAuthenticated
}} ...attributes>
  <Boxel::LayoutContainer>
    <div>
      <Boxel::DropTarget />
    </div>
  </Boxel::LayoutContainer>
</div>