<Boxel::OrgHeader
  @title={{@title}}
  @logoURL={{@logoURL}}
  class="card-pay__header"
>
  <ul class="card-pay__header-item-list">
    <li class="card-pay__header-item">
      <div>
        <div class="card-pay__header-item-label">
          Layer 1
        </div>
        <div class="card-pay__header-item-title">
          Mainnet
        </div>
      </div>
      <Boxel::Button
        class="card-pay__header-button"
        @primary={{true}}
      >
        Connect Wallet
      </Boxel::Button>
    </li>
    <li class="card-pay__header-item">
      <div>
        <div class="card-pay__header-item-label">
          Layer 2
        </div>
        <div class="card-pay__header-item-title">
          xDai
        </div>
      </div>
      <Boxel::Button class="card-pay__header-button card-pay__header-button-monospace">
        0xcd98...1a4B
      </Boxel::Button>
    </li>
  </ul>

  <nav class="card-pay__header-nav">
    <ul class="card-pay__nav-list">
      <li>
        <LinkTo @route="card-pay" class="card-pay__nav-tab">
          <span class="card-pay__nav-tab-icon" />
          Card Balances
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="card-pay" class="card-pay__nav-tab">
          Merchant Services
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="card-pay" class="card-pay__nav-tab">
          Reward Programs
        </LinkTo>
      </li>
      <li>
        <LinkTo @route="card-pay" class="card-pay__nav-tab">
          Token Suppliers
        </LinkTo>
      </li>
    </ul>
  </nav>
</Boxel::OrgHeader>