.boxel-help-box__title {
  --icon-color: var(--boxel-teal);
  display: flex;
  font: 600 var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
}

.boxel-help-box__title-icon {
  width: 1rem;
  height: 1rem;
  background: url('../@cardstack/boxel/images/icons/help-circle.svg') center/contain no-repeat;
}

.boxel-help-box__button {
  min-height: 1.5rem;
  padding: var(--boxel-sp-xxxs) var(--boxel-sp-lg);
  border-color: var(--boxel-purple-300);
}
