<ul class="participant-list" ...attributes>
  {{#each @participants as |participant|}}
    <li>
      <Boxel::Participant
        @title={{participant.title}}
        @description={{participant.role}}
        @image={{participant.imgURL}}
        @hasLogo={{eq participant.type "organization"}}
      />
    </li>
  {{/each}}
</ul>