<div class="card-pay-suggested-next-steps-box" ...attributes>
  <div class="card-pay-suggested-next-steps-box__header">
    <span class="card-pay-suggested-next-steps-box__header-title">SUGGESTED NEXT STEPS</span>
    <span class="card-pay-suggested-next-steps-box__header-private-notice">
      Only visible to you
      {{svg-jar "lock" width="0.75rem" height="0.75rem"}}
    </span>
  </div>
  <div class="card-pay-suggested-next-steps-box__content">
  <ul class="card-pay-suggested-next-steps-box__cluster">
    <li class="card-pay-suggested-next-steps-box__cluster-body">
      {{yield (component "boxel/button" kind="primary") to="body"}}
    </li>
  </ul>

  {{#if (has-block "footer")}}
    <div class="card-pay-suggested-next-steps-box__footer">
    {{yield (component "boxel/button" kind="secondary-dark") to="footer"}}
    </div>
  {{/if}}
  </div>
</div>