<details class="boxel-expandable-banner__details">
    <summary class="boxel-expandable-banner__summary">
        {{yield to="summary"}}
        <div class="boxel-expandable-banner__summary-close-marker">
            Hide {{svg-jar "caret-up"}}
        </div>
        <div class="boxel-expandable-banner__summary-open-marker">
            Show {{svg-jar "caret-down"}}
        </div>
    </summary>
    {{yield to="details"}}
</details>