<Freestyle::Usage>
    <:example>
        <Boxel::ExpandableBanner>
            <:summary>
            <div style="display: flex; align-items: center; height: 26px; overflow: visible;">
                {{svg-jar "payment" width=34 height=34 style="--icon-color: var(--boxel-cyan); margin-right: var(--boxel-sp-xs); position: relative; top: 4px;"}}
                Summary
            </div>
            </:summary>
            <:details>
                Details here.
            </:details>
        </Boxel::ExpandableBanner>
    </:example>
</Freestyle::Usage>