.summary-content {
  display: flex;
  align-items: center;
  height: 1.625rem;
  overflow: visible;
}

.summary-content__icon {
  --icon-color: var(--boxel-cyan);

  width: 2.125rem;
  height: 2.125rem;
  margin-right: var(--boxel-sp-xs);
  position: relative;
  top: .25rem;
}
