.boxel-thread-message {
  --boxel-thread-message-avatar-size: calc(2 * var(--boxel-sp));
  --boxel-thread-message-gap: var(--boxel-sp);
  --boxel-thread-message-meta-height: var(--boxel-sp); /* set the height to the text height so that we can do layout based on this */
  --child-card-margin: var(--boxel-sp);

  min-height: var(--boxel-thread-message-avatar-size); /* if meta is showing, we need to account for short heights which might (unlikely) lead to overlap with other text messages */
}

.boxel-thread-message--hide-meta {
  min-height: 0;
}

.boxel-thread-message__meta {
  display: grid;
  grid-template-columns: var(--boxel-thread-message-avatar-size) 1fr var(--boxel-thread-message-avatar-size);
  grid-template-rows: var(--boxel-thread-message-meta-height);
  align-items: start;
  gap: var(--boxel-thread-message-gap);
}

.boxel-thread-message--card .boxel-thread-message__meta {
  align-items: center;
}

.boxel-thread-message__avatar {
  width: var(--boxel-thread-message-avatar-size);
}

.boxel-thread-message__avatar-img {
  width: var(--boxel-thread-message-avatar-size);
  height: var(--boxel-thread-message-avatar-size);
  border-radius: 100px;
}

.boxel-thread-message__avatar-img--not-round {
  border-radius: initial;
}

.boxel-thread-message__info {
  display: flex;
  align-items: center;
  white-space: nowrap;
  height: var(--boxel-thread-message-meta-height); /* 20px */
  margin: 0;
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.boxel-thread-message__name {
  margin-right: var(--boxel-sp);
}

.boxel-thread-message__time {
  color: var(--boxel-purple-400);
  font-size: var(--boxel-font-size-xs);
  letter-spacing: var(--boxel-lsp-lg);
}

.boxel-thread-message__content {
  /* mimic the grid using margins, but don't use grid - if multiple items are children of a thread message, grid will mess things up. */
  width: calc(100% - 2 * (var(--boxel-thread-message-gap) + var(--boxel-thread-message-avatar-size)));
  margin-left: auto;
  margin-right: auto;
  transition: width var(--boxel-transition);
}

.boxel-thread-message--card .boxel-thread-message__content {
  margin-top: var(--child-card-margin);
}

.boxel-thread-message--full-content-width .boxel-thread-message__content {
  width: 100%;
}

/* spacing for sequential thread messages */
.boxel-thread-message + .boxel-thread-message {
  margin-top: calc(2 * var(--boxel-sp));
}

.boxel-thread-message + .boxel-thread-message--hide-meta {
  margin-top: var(--boxel-sp);
}
