.boxel-thread-message {
  --boxel-thread-message-avatar-size: 2.5rem;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  gap: 0 var(--boxel-sp);
}

@media only screen and (min-width: 1440px) {
  .boxel-thread-message {
    padding-right: var(--boxel-sp-xl);
  }
}

.boxel-thread-message + .boxel-thread-message {
  margin-top: var(--boxel-sp-xl);
}

.boxel-thread-message + .boxel-thread-message--meta-hidden {
  margin-top: var(--boxel-sp);
}

.boxel-thread-message__avatar {
  grid-row: 1 / -1;
  width: var(--boxel-thread-message-avatar-size);
  max-height: var(--boxel-thread-message-avatar-size);
}

.boxel-thread-message__avatar-img {
  width: var(--boxel-thread-message-avatar-size);
  height: var(--boxel-thread-message-avatar-size);
  border-radius: 100px;
}

.boxel-thread-message__avatar-img--not-round {
  border-radius: initial;
}

.boxel-thread-message__initial {
  width: var(--boxel-thread-message-avatar-size);
  height: var(--boxel-thread-message-avatar-size);
  border: var(--boxel-border);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxel-thread-message__info {
  display: flex;
  align-items: center;
  white-space: nowrap;
  min-height: 1.25rem; /* 20px */
  margin: 0;
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.boxel-thread-message__name {
  margin-right: var(--boxel-sp);
}

.boxel-thread-message__time {
  color: var(--boxel-purple-400);
  font-size: var(--boxel-font-size-xs);
  letter-spacing: var(--boxel-lsp-lg);
}

/* With full-width message content */
.boxel-thread-message--fw .boxel-thread-message__info {
  grid-row: span 2;
}

.boxel-thread-message--fw .boxel-thread-message__content {
  grid-column: 1 / -1;
  margin-top: var(--boxel-sp-xxxs);
}

.boxel-thread-message--fw.boxel-thread-message--meta-hidden .boxel-thread-message__content {
  margin-top: initial;
}
