<Boxel @class="boxel-examples">
  <h4>Boxel</h4>
  <Boxel>Star Wars</Boxel>

  <h4>Boxel using custom tag and class</h4>
  <Boxel @tag="article" @class="sample-boxel-grid">
    <Boxel @tag="header">Header</Boxel>
    <Boxel @tag="section">Section</Boxel>
    <Boxel @tag="aside">Sidebar</Boxel>
  </Boxel>
</Boxel>