<Boxel::Thread::SidebarCard ...attributes as |c|>
  <c.section @title={{or (html-safe (concat "Workflow:<br>" @title)) "Workflow Progress"}}>
    {{yield (hash
      progressCircle=(component 'boxel/progress-circle')
    )}}
    <div class="progress-box__status">
      {{@status}}
    </div>
  </c.section>
  <c.section @title="Milestones">
    {{yield (hash
      milestones=(component 'boxel/milestones')
    )}}
  </c.section>
</Boxel::Thread::SidebarCard>