.collection-table > table {
  width: 931px;
  margin: 0 auto;
  padding: 20px 20px 40px;
  font-family: var(--boxel-font-family);
  font-size: 13px;
  line-height: calc(18/17);
  letter-spacing: 0.025em;
  border-collapse: collapse;
}

.collection-table__header tr {
  height: 40px;
  border-top: 1px solid #AFAFB7;
  border-bottom: 1px solid #AFAFB7;
}

.collection-table__header th {
  font-weight: normal;
  text-align: left;
}

.collection-table__header th:first-of-type {
  padding-left: 54px;
  background-color: #F0F0F0;
}

.collection-table__body tr {
  height: 60px;
  background-color: white;
  border-bottom: 1px solid #AFAFB7;
}

.collection-table__body td {
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection-table__body td:first-of-type {
  padding-left: 13px;
  background-color: white;
}

.collection-table__body .et-cell-container {
  display: grid;
  grid-template-columns: 30px 13px auto;
  align-items: center;
}

.collection-table__body .et-toggle-select {
  width: 30px;
  height: 30px;
  background: url('/assets/images/icons/icon-circle.svg') center/16px 16px no-repeat;
}

.collection-table__body tr.is-group-selected .et-toggle-select {
  background-image: url('/assets/images/icons/icon-circle-selected.svg');
}

.collection-table__body .et-toggle-select input {
  width: 30px;
  height: 30px;
  margin: 0;
  opacity: 0;
}
