/* VIEW MODE */
/* Collection List */
.collection-list {
  display: grid;
  grid-gap: 10px;
}

/* Collection Grid */
.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 105px);
  grid-auto-rows: 105px;
  gap: 10px;
}

.collection-grid__item > img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  width: 105px;
  height: 105px;
}


/* EDIT MODE */
.collection-editor {
  position: relative;
  display: grid;
  gap: 10px;
  padding: 10px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  line-height: 1;
  text-align: left;
}

.collection-editor--grid {
  grid-template-columns: repeat(auto-fill, 210px);
}

.collection-editor > h4 {
  grid-column: 1 / -1;
  color: black;
  line-height: calc(22/16);
  padding: 9px 5px;
}

.collection-editor__item {
  position: relative;
}

.collection-editor__view-all-btn {
  width: 100%;
  grid-column: 1 / -1;
  padding: 11px 0;
  background: none;
  color: black;
  font: var(--boxel-font-sm);
  border: 1px solid #AFAFB7;
  border-radius: inherit;
  text-align: center;
  z-index: 1;
}

.collection-editor__add-btn {
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
  grid-column: 1 / -1;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
  z-index: 1;
}

.collection-editor__btn-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: center;
  gap: 30px;
  padding: 4px 4px 16px;
}

.collection-editor button:focus {
  outline: 0;
}
.collection-editor button:focus-visible {
  border: 2px solid var(--boxel-highlight);
  outline: 0;
}

.highlight-btn-group {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  background-color: var(--boxel-highlight);
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

.highlight-btn {
  border: none;
  width: 35px;
  height: 30px;
  padding: 7px 9px;
  background-color: transparent;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.highlight-btn--more-actions {
  background-image: url('/assets/images/icons/more-actions.svg');
}

.highlight-btn--expand {
  background-image: url('/assets/images/icons/expand.svg');
}

.highlight-btn:focus-visible {
  border-color: black;
}

.collection-editor__select {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  gap: 0 7.5px;
  align-items: center;
  grid-column: 1 / -1;
}

.collection-editor__select-btn {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
  z-index: 1;
}

.collection-editor__select-all {
  padding: 10px 35px;
  background: url('/assets/images/icons/check-mark.svg') center left 15px no-repeat;
  border: 1px solid #AFAFB7;
  border-radius: 5px;
  color: black;
  font: var(--boxel-font-sm);
  font-weight: bold;
  letter-spacing: 0.025em;
}

.collection-editor__collection-btn {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: none;
  border: 2px solid transparent;
  border-radius: 5px;
}

.collection-editor__item-btn {
  width: 100%;
  padding: 0;
  background: none;
  border-radius: 5px;
  border: 1px solid #AFAFB7;
  overflow: hidden;
  text-align: left;
  z-index: 1;
}

.collection-editor__collection-btn.selected,
.collection-editor__item-btn.selected {
  border: 2px solid var(--boxel-highlight);
  border-radius: 5px;
}


/* Collection editor -- format: taglist */
.collection-taglist-editor {
  grid-template-columns: 1fr 40px;
}

.collection-taglist-editor__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
  gap: 10px;
}

.collection-taglist-editor__list-item {
  display: grid;
  grid-auto-flow: column;
  width: auto;
  min-width: 90px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  font-size: 13px;
  color: #393642;
}

.collection-taglist-editor__text {
  margin: auto;
  padding: 9px 15px 8px;
}

.collection-taglist-editor__btn {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
  outline: 0;
}

.collection-taglist-editor__btn.add-btn {
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
}

.collection-taglist-editor__btn.add-btn:focus,
.collection-taglist-editor__item:focus-within {
  border-color: var(--boxel-highlight);
  outline: 2px solid var(--boxel-highlight);
  outline-offset: -3px;
}
