.collection-table > table {
  width: 931px;
  margin: 0 auto;
  padding: 20px 20px 40px;
  font-family: var(--boxel-font-family);
  font-size: 13px;
  line-height: calc(18/17);
  letter-spacing: 0.025em;
  border-collapse: collapse;
}

.collection-table__header tr {
  height: 40px;
  border-top: 1px solid #AFAFB7;
  border-bottom: 1px solid #AFAFB7;
}

.collection-table__header th {
  font-weight: normal;
  text-align: left;
}

.collection-table__header th:first-of-type {
  padding-left: 54px;
  background-color: #F0F0F0;
}

.collection-table__body tr {
  height: 60px;
  /* border-bottom: 1px solid #AFAFB7; */
}

.collection-table__body td {
  position: relative;
  padding-right: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 2;
}

.collection-table__body td:first-of-type,
.collection-table__body td:last-of-type {
  padding-right: 0;
}

.collection-table__body td:first-of-type .et-cell-content,
.collection-table__body td:last-of-type .et-cell-content {
  padding: 0;
}

.collection-table__body td:nth-of-type(2) {
  box-shadow: 3px 0 5px rgba(0,0,0,0.1);
}

.collection-table__body .et-cell-container {
  display: grid;
  align-items: center;
}

.collection-table__body .et-cell-content {
  display: grid;
  height: 100%;
  padding-top: 20px;
  padding-left: 20px;
}

.collection-table__body .et-toggle-select {
  z-index: 2;
  width: 45px;
  height: 60px;
  background-color: #F0F0F0;
  background: url('/assets/images/icons/icon-circle.svg') center/16px 16px no-repeat;
}

.collection-table__body tr.is-group-selected .et-toggle-select {
  background-image: url('/assets/images/icons/icon-circle-selected.svg');
}

.collection-table__body .et-toggle-select input {
  width: 45px;
  height: 60px;
  margin: 0;
  opacity: 0;
}
