.sidebar-related-card__link {
  display: block;
}

.sidebar-related-card {
  min-width: 320px;
  min-height: 160px;
  border: none;
  border-radius: var(--boxel-border-radius);
  background-color: white;
  box-shadow: var(--boxel-box-shadow);
  transition: box-shadow var(--boxel-transition);
}

.sidebar-related-card__link:hover .sidebar-related-card {
  box-shadow: var(--boxel-box-shadow-hover);
}

.sidebar-related-card__inner {
  padding: 45px 20px 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-related-card__label {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  padding: 2px 10px;
  border-radius: 10px 0 5px 0;
  background-color: #E0DEEB;
  color: rgba(0, 0, 0, 0.7);
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp);
  text-transform: uppercase;
}

.sidebar-related-card__thumb-collection {
  width: 60px;
  height: 50px;
  margin-right: 20px;
  background: url('/media-registry/master-covers.svg') center left/cover no-repeat;
}

.sidebar-related-card__title {
  font: var(--boxel-font);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp-sm);
}

.sidebar-related-card__subtitle {
  color: #6B6A80;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.sidebar-related-card__count {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-lg);
  text-align: right;
}

.sidebar-related-card__count__number {
  font: var(--boxel-font);
  font-weight: bold;
  letter-spacing: 0.04em;
}
