.boxel-tray {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 1px 20px rgba(37, 0, 0, 0.25);
}

.boxel-tray:hover,
.boxel-tray:focus {
  cursor: pointer;
  box-shadow: 0 1px 20px rgba(37, 0, 0, 0.5);
}

.boxel-tray.expanded {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: #151529;
  border-radius: 0;
  overflow-x: scroll;
}
