<section class="collection">
  <header>
    <h2>{{@model.title}}</h2>
    <div>
      {{!-- bulk select indicator --}}
      {{!-- filters --}}
      {{!-- view selector --}}
    </div>
  </header>

  <ul class="collection-items">
    {{#each @model.items as |item|}}
      <li>
        {{yield item}}
      </li>
    {{/each}}

    {{!-- Add new --}}
  </ul>
</section>