<div class="boxel-layout-container">
  <div class="boxel-layout-grid">
    <div class="grid-column" draggable="true">
      <div class="grid-card card-1" draggable="true">
        <Boxel::Header>
            Profile
        </Boxel::Header>
        <div class="card-content">
          Card 1
        </div>

      </div>
      <div class="grid-card card-3" draggable="true">
        <Boxel::Header>
            Subscribe
        </Boxel::Header>
        <div class="card-content">
            Card 3
        </div>
      </div>
    </div>

    <div class="grid-column" draggable="true">
      <div class="grid-card card-2" draggable="true">
        <Boxel::Header>
            About
        </Boxel::Header>
        <div class="card-content">
          Card 2
          <div class="grid-card" draggable="true">
            <Boxel::Header>
              Audio
            </Boxel::Header>
          </div>
          <div class="card-content card-content-large">
            Tall content
          </div>
        </div>
      </div>
      <div class="grid-card card-4" draggable="true">
        <Boxel::Header>
            Links
        </Boxel::Header>
        <div class="card-content">
          Card 4
        </div>
      </div>
    </div>

    <div class="grid-column full-width-column" draggable="true">
      <div class="grid-card card-5" draggable="true">
        <Boxel::Header>
            Card 5
        </Boxel::Header>
        <div class="card-content">
            Content
        </div>
      </div>
    </div>

  </div>


</div>