.boxel-field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.boxel-field__label {
  color: var(--boxel-purple-400);
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.boxel-field > *:first-child {
  flex-basis: 7.5rem;
  flex-grow: 1;
  margin: var(--boxel-sp-xs) var(--boxel-sp-lg) var(--boxel-sp-xs) 0;
}

.boxel-field > *:last-child {
  flex-basis: 15rem;
  flex-grow: 999;
  flex-shrink: 0;
}
