.boxel-edit-field {
  --boxel-edit-field-label-color: var(--boxel-dark);
  --boxel-edit-field-label-font: 600 var(--boxel-font-xs);
  --boxel-edit-field-label-letter-spacing: var(--boxel-lsp-xl);
  --boxel-edit-field-label-text-transform: uppercase;
}

.boxel-edit-field span {
  display: inline-block;
}

.boxel-edit-field__label {
  color: var(--boxel-edit-field-label-color);
  font: var(--boxel-edit-field-label-font);
  letter-spacing: var(--boxel-edit-field-label-letter-spacing);
  text-transform: var(--boxel-edit-field-label-text-transform);
}


/* @isFlexField */
.boxel-edit-field--flex {
  --boxel-field-label-width: 7.5rem;
  --boxel-field-value-width: 15rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.boxel-edit-field--flex > *:first-child {
  flex-basis: var(--boxel-field-label-width);
  flex-grow: 1;
  margin: var(--boxel-sp-xs) var(--boxel-sp-lg) var(--boxel-sp-xs) 0;
}

.boxel-edit-field--flex > *:last-child {
  flex-basis: var(--boxel-field-value-width);
  flex-grow: 999;
  /* flex-shrink: 0; */
}
