.discrepancy {
  --boxel-revision-light-purple: #84829B;
  --boxel-revision-lightest-purple: #AFAFB7;
  --boxel-revision-hover-purple: #4f4a5d;
  --disc-footer-cta-height: 90px;
  --disc-footer-cta-height-lg: 130px;
  --disc-header-height: 80px;
  --disc-container-max-width: 1440px;

  height: 100%;
  background-color: var(--boxel-medium-purple);
  overflow: auto;
}

.discrepancy__container {
  height: 100%;
  max-width: var(--disc-container-max-width);
  margin: 0 auto;
  padding: 20px;
}

.discrepancy__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discrepancy__title {
  padding-left: 35px;
  padding-right: 20px;
  background: url('/assets/images/icons/file-icon.svg') center left 5px/16px 20px no-repeat;
  color: white;
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.discrepancy__mode-btn > a {
  width: 300px;
}

.discrepancy__breadcrumbs {
  border-bottom: 1px solid #7D7C93;
  margin-bottom: 20px;
}

.discrepancy__main {}

.discrepancy__main--comp-view {
  background-color: var(--boxel-highlight);
  padding: 0 25px;
  border-radius: 10px 10px 0 0;
}

.discrepancy__comparison-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--disc-header-height);
  width: 100%;
  max-width: 775px;
  margin: 0 auto;
  padding: 20px 20px 20px 30px;
  border-radius: 10px;
  background-color: var(--boxel-dark-purple);
  color: white;
  font: var(--boxel-font-sm);
  font-weight: 700;
  letter-spacing: var(--boxel-lsp-lg);
  transition: max-width var(--boxel-transition);
}

.discrepancy__comparison-header--comp-mode {
  height: auto;
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  background-color: transparent;
  color: black;
}

.discrepancy__cards {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  gap: 0 50px;
  margin-top: 20px;
  box-shadow: var(--boxel-box-shadow);
}

.discrepancy__cards.discrepancy__cards--comp-view {
  gap: 0;
  margin-top: 0;
}

.discrepancy__cards.discrepancy__cards--comp-view .discrepancy-card__header.your-version {
  border-radius: 10px 0 0 0;
}

.discrepancy__cards.discrepancy__cards--comp-view .discrepancy-card__header.other-version {
  border-radius: 0 10px 0 0;
  border-left: 1px solid var(--boxel-medium-purple);
}

.discrepancy-card__header {
  position: relative;
  height: var(--disc-header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 20px 15px;
  background-color: var(--boxel-dark-purple);
  color: white;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  border-radius: 10px 10px 0 0;
}

.discrepancy-card__header.selected-version {
  background-color: var(--boxel-highlight);
  color: black;
}

.discrepancy-card__header.selected-version .discrepancy-card__header-label {
  color: #00605E;
}

.discrepancy-card__header-label {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #A5A5A5;
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.discrepancy-card__title {
  font-weight: bold;
}

.discrepancy-card__datetime {
  font: var(--boxel-font-xs);
}

.discrepancy-card__header-btn {
  width: 100%;
  max-width: 225px;
  height: 40px;
  padding: 10px 40px;
  font-weight: 400;
  background: url('/assets/images/icons/select-empty.svg') left 12px top 10px/16px 16px no-repeat;
  background-color: transparent;
  border-color: #666;
  color: inherit;
  text-align: left;
  white-space: nowrap;
}

.discrepancy-card__header-btn.checked {
  background-image: url('/assets/images/icons/select-checked.svg');
  border-color: black;
  font-weight: 600;
}

.discrepancy-field {
  position: relative;
  height: 100%;
  padding: 30px 25px 30px 0;
  background-color: white;
  border-bottom: var(--boxel-border);
}

.discrepancy-field--comp-field {
  border-left: 1px solid #696969;
}

.discrepancy-field__btn {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: var(--boxel-highlight);
  border: 2.5px solid var(--boxel-medium-purple);
  border-radius: 100px;
  top: 35%;
  left: -45px;
  right: auto;
  z-index: 1;
}

.discrepancy-field__btn--noop {
  right: -45px;
  left: auto;
}

.discrepancy-field__btn--reset-btn {
  position: absolute;
  top: calc(35% + 70px);
  right: -52px;
  z-index: 1;
}

.embedded-collection__discrepancy-btn {
  right: auto;
  left: -70px;
}

.discrepancy-field__btn--reset-btn.embedded-collection__discrepancy-btn {
  left: -82px;
}

.discrepancy-card__footer {
  height: var(--disc-footer-cta-height-lg);
  background-color: white;
}

.discrepancy__count-btn__link-copy {
  color: white;
  font: var(--boxel-font-sm);
  padding: 20px;
}

.discrepancy__count-btn {
  height: 50px;
  width: 100%;
  max-width: 500px;
  font-weight: 600;
}

.discrepancy__count-btn-container {
  position: fixed;
  z-index: 2;
  bottom: 0;
  height: var(--disc-footer-cta-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--boxel-dark-purple);
  text-align: center;
  transform: translateY(110%);
  transition: all 0.2s ease-in;
}

.discrepancy__count-btn-container--linked {
  display: block;
  height: var(--disc-footer-cta-height-lg);
}

.discrepancy__count-btn-container--comparison {
  transition: all 0.2s ease-out;
}

.discrepancy__count-btn-container.visible {
  transform: translateY(0);
}

@media only screen and (max-width: 1439px) {
  .discrepancy__count-btn-container {
    width: calc((100vw - 90px) / 2);
  }

  .discrepancy__count-btn-container.container-left {
    min-width: 685px;
  }

  .discrepancy__count-btn-container.container-right {
    min-width: 666px;
  }

  .discrepancy__count-btn-container--comparison.container-right {
    min-width: 596px;
  }
}

@media only screen and (min-width: 1440px) {
  .discrepancy__count-btn-container {
    width: 685px;
  }

  .discrepancy__count-btn-container--linked {
    width: 666px;
  }

  .discrepancy__count-btn-container--comparison {
    width: 755px;
  }
}


/* field renderer */
.discrepancy-field-renderer {
  grid-template-columns: auto 1fr;
  max-width: initial;
}

.discrepancy-field-renderer > .field-renderer__title {
  width: 160px;
  transition: width 0.2s ease-in, visibility 0.2s ease-in;
}

.discrepancy-field-renderer > .field-renderer__value {
  width: 450px;
  transition: width 0.2s ease-in;
}

.discrepancy-field-renderer.comp-card-field.comp-view > .field-renderer__title {
  visibility: collapse;
  width: 90px;
  transition: width 0.2s ease-out, visibility 0.2s ease-out;
}
