.sidebar > * + * {
  margin-top: var(--boxel-sp-lg);
}

.sidebar > .sidebar-section--attach-next {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar > .sidebar-section--attach-next + .sidebar-section--bordered {
  border-top: 1px solid var(--boxel-light-400);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.sidebar > .sidebar-section--attach-next {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar > .sidebar-section--attach-next:before {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.sidebar > .sidebar-section--attach-next + .sidebar-section--bordered {
  border-top: 1px solid var(--boxel-light-400);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: 0;
}

.sidebar > .sidebar-section--attach-next + .sidebar-section--bordered:before {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
 }
