.sidebar-usage-container {
  background-color: var(--boxel-light-300);
  padding-left: var(--boxel-sp-sm);
  height:600px;
  padding:10px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  column-gap: 100px;
}

  .sidebar-usage-container__example-content {
    padding-left: var(--boxel-sp-sm);
    padding-right: var(--boxel-sp-sm);
  }