<div class="card-page">
  <div class="cards-list preview">
    <div class="card-container">
      <Boxel>
        <div class="boxel card-{{model.id}}">
          {{model.title}}
        </div>
      </Boxel>
    </div>
  </div>
</div>
