.sidebar-section > * + * {
  margin-top: var(--boxel-sp-sm);
}

.sidebar-section--bordered {
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  box-shadow: var(--boxel-box-shadow);
  padding-bottom: var(--boxel-sp);
}

.sidebar-section__title {
  padding-bottom: 0;
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
}

.sidebar-section__content > * + * {
  margin-top: var(--boxel-sp);
}

.sidebar-section--bordered .sidebar-section__content {
  padding-left: var(--boxel-sp-sm);
  padding-right: var(--boxel-sp-sm);
}

.sidebar-section--bordered .sidebar-section__content > * + * {
  margin-top: var(--boxel-sp-sm);
}

