.boxel-cta-block__action-status-area-icon {
  --status-icon-size: 1.25rem;

  display: block;
  width: var(--status-icon-size);
  height: var(--status-icon-size);
  margin-right: var(--boxel-sp-xs);
}
