<div class="card-space-top-edge">
  <Boxel::Button
    @kind={{if @darkTheme "secondary-dark" "secondary-light"}}
    {{on "click" (optional @onClick)}}
  >
    Connect Account
  </Boxel::Button>
</div>