@import 'catalog.css';
@import 'catalog-preview.css';
@import 'tools.css';
@import 'tools-edit.css';

@import 'demo/index.css';
@import 'catalog/index.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 1.5;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* for ember animated */
.boxel-animated-orphans {
  position: absolute;
  top: 0;
  left: 0;
}

.animated-tools {
  z-index: 100;
}
