.cards-page {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 60px 20px;
  background-color: var(--catalog-light-purple);
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 30px;
  justify-items: center;
}

.cards-list.triplet {
  grid-template-columns: repeat(3, 1fr);
}
