<ul class="actions-menu {{@class}}">
  {{#if @actionItems}}
    {{#each @actionItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
  {{else}}
    <li>Duplicate</li>
    <li>Share</li>
    <li>Configure</li>
    <li><LinkTo @route="media-registry.agreements" @model="bunny_records">Transfer catalog</LinkTo></li>
  {{/if}}
</ul>