<div class="cardflow">
  <header class="cardflow__header">
    {{!-- Thread header --}}
  </header>

  <div class="cardflow__thread">
    {{!-- Thread --}}
  </div>

  <aside class="cardflow__sidebar">
    <h3 class="cardflow__sidebar-title">Progress</h3>

    <h3 class="cardflow__sidebar-title">Checklist</h3>
    <CardPlatter>
      <ul>
        <li>Propose</li>
        <li>Review</li>
        <li>Accept</li>
        <li>Amend</li>
        <li>Redeliver</li>
      </ul>
    </CardPlatter>

    <h3 class="cardflow__sidebar-title">Participants</h3>
    <CardPlatter></CardPlatter>
  </aside>
</div>