{{!-- View Mode --}}
<div class="boxel-card boxel-card--{{this.type}}">
  <h3 class="boxel-card__title">{{@title}}</h3>
  {{#if @description}}
    <p class="boxel-card__description">{{@description}}</p>
  {{/if}}
</div>