.milestone-progress__section {
  padding: 15px var(--boxel-spacing);
}

.milestone-progress__section {
  border-bottom: 1px solid var(--boxel-light-400);
  margin-bottom: 10px;
}

.milestone-progress__section:last-child {
  border-bottom: none;
}

.milestone-progress__section-title {
  margin-bottom: 5px;
}

.milestone-progress__status {
  padding-top: 15px;
  color: var(--boxel-dark);
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  text-align: center;
}
