{{#animated-value @content group=@name use=transition duration=this.duration}}
  <div role="button" {{action trayAction}} class="boxel-tray {{if expanded "expanded"}}">
    {{yield}}
  </div>
{{/animated-value}}