.milestones-usage-item {
  display: flex; 
  justify-content: space-between;
}

.milestones-usage-item--completed {
  color: black;
}

.milestones-usage-title {
  font-weight: 600;
}

.milestones-usage-number {
  font-weight: 400;
  font-size: 0.6875;
}