.workflow-sidebar-section {
  padding: 15px var(--boxel-spacing);
}

.workflow-sidebar-section + .workflow-sidebar-section {
  border-top: 1px solid var(--boxel-light-400);
}

.workflow-sidebar-section__title {
  padding-bottom: var(--boxel-spacing);
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}
