<Boxel::Dashboard
  class="card-space-dashboard"
  {{!-- @displayLeftEdge={{true}} --}}
  @darkTheme={{true}}
>
  {{!-- <:left-edge>
    <CardHost::LeftEdgeNav
      @home={{hash icon="cardstack-logo" width="33px" height="35px"}}
    />
  </:left-edge> --}}

  <:body>
    <div class="top-edge">
      <Boxel::Button @kind="secondary-light">
        Connect Account
      </Boxel::Button>
    </div>

    <Boxel::LayoutContainer>

    </Boxel::LayoutContainer>
    {{!-- <Boxel::DropTarget></Boxel::DropTarget> --}}
  </:body>
</Boxel::Dashboard>