.boxel-header {
  --header-min-height: 1.875rem; /* 30px */
  --boxel-header-padding: var(--boxel-sp-xxxs) var(--boxel-sp-sm);
  --header-text-color: var(--boxel-purple-300);
  --header-background-color: var(--boxel-purple-100);

  /* container styling */
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  min-height: var(--header-min-height);
  background-color: var(--header-background-color);

  /* text styling */
  color: var(--header-text-color);
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;

  transition:
    background-color var(--boxel-transition),
    color var(--boxel-transition);
}

.boxel-header:hover,
.boxel-header:focus-within {
  --header-text-color: var(--boxel-dark);
}

.boxel-header--no-background {
  background-color: transparent;
}

.boxel-header--selected {
  background-color: var(--boxel-highlight);
  color: var(--boxel-dark);
}

.boxel-header__content {
  padding: var(--boxel-header-padding);
}


/* for all buttons */
.boxel-header__button {
  --icon-button-width: var(--header-min-height);
  --icon-button-height: var(--header-min-height);
  --icon-color: var(--boxel-dark);

  min-height: var(--icon-button-height);
  padding: 0;
  background: none;
  border: none;
  color: var(--boxel-dark);
  font: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
}

.boxel-header--selected .boxel-header__button:focus {
  outline-color: var(--boxel-highlight-hover);
}


/* header title button */
.boxel-header__label-text-button {
  padding: var(--boxel-header-padding);
  color: inherit;
  text-align: left;
}


/* edit button */
.boxel-header__text-button {
  padding: var(--boxel-sp-xxxs);
}


/* button group  */
.boxel-header__button-group {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 0.2rem;
}

.boxel-header__button-group > *:last-child {
  margin-right: var(--boxel-sp-xxxs);
}

.boxel-header__button-group > .boxel-header__button:focus {
  outline-offset: -2px;
}
