.versions {
  --boxel-revision-medium-purple: #5D5C6F;
  --boxel-revision-dark-purple: #393642;
  --boxel-revision-light-purple: #84829B;
  --boxel-revision-lightest-purple: #AFAFB7;
  --boxel-revision-hover-purple: #4f4a5d;

  display: grid;
  grid-template:
    "head  mode" auto
    "cards nav"  auto /
     1fr   340px;
  gap: 0 20px;
  padding-left: 20px;
  background-color: var(--boxel-revision-medium-purple);
}

.versions__header {
  grid-area: head;
}

.versions__title {
  padding: 28px 20px 28px 35px;
  background: url('/assets/images/icons/collection-highlighted.svg') center left/21px no-repeat;
  color: white;
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-sm);
}

.versions__mode {
  grid-area: mode;
  padding: 20px;
  position: relative;
  z-index: 1;
  background-color: var(--boxel-revision-medium-purple);
}

.versions__mode > a {
  width: 300px;
}

.versions__nav--shadow {
  height: 20px;
  margin-top: -20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}

.versions__nav {
  grid-area: nav;
  padding: 0 20px 20px;
}

.versions-nav-item {
  position: relative;
  display: grid;
  color: white;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.versions-nav-item__btn {
  background: none;
  border: none;
  text-align: left;
  outline: none;
}
.versions-nav-item__btn:hover {
  cursor: pointer;
  color: var(--boxel-highlight);
}

.versions-nav-item__selection-btn {
  padding: 13px 10px 16px 40px;
  box-shadow: 0 1px 0 0 var(--boxel-revision-light-purple);
}

.versions-nav-item__selection-btn:hover {
  background-color: var(--boxel-revision-hover-purple);
  border-bottom-color: transparent;
  border-radius: 5px;
  box-shadow: 0 -1px 0 1px var(--boxel-revision-hover-purple);
}

.versions-nav-item--selected .versions-nav-item__selection-btn {
  background-color: var(--boxel-revision-dark-purple);
  border-bottom-color: transparent;
  border-radius: 5px;
  box-shadow: 0 -1px 0 1px var(--boxel-revision-dark-purple);
  overflow: hidden;
}

.versions-nav-item__selection-checkbox {
  --icon-border: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 100%;
  padding: 0;
  z-index: 1;
}
.versions-nav-item__selection-checkbox > svg {
  display: block;
  margin: auto;
}

.versions-nav-item__selection-btn:hover + .versions-nav-item__selection-checkbox,
.versions-nav-item__selection-checkbox:hover {
  --icon-border: currentColor;
}

.versions-nav-item--selected .versions-nav-item__selection-checkbox {
  --icon-border: currentColor;
}

.version-card__header {
  position: sticky;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 0 30px;
  background-color: var(--boxel-revision-dark-purple);
  height: 50px;
  padding: 16px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}

.version-card__header:hover {
  cursor: pointer;
}

.version__title {
  color: white;
  font: var(--boxel-font-sm);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp);
}

.version__description {
  color: var(--boxel-revision-lightest-purple);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.version__label {
  color: var(--boxel-highlight);
  font-size: 10px;
  line-height: calc(14/10);
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: right;
}

.versions-nav-item__btn .version__description {
  padding-bottom: 3px;
}

.versions-nav-item__btn .version__label {
  position: absolute;
  right: 20px;
  top: 16px;
}


.versions__cards {
  grid-area: cards;
  display: grid;
  grid-auto-rows: max-content;
  position: relative;
  height: calc(100vh - 80px);
  overflow: hidden;
}

.version-card {
  width: 65%;
  justify-self: center;
  position: absolute;
  top: 0;
  opacity: 0;
}

.version-card--p4 {
  width: 65%;
  position: relative;
  top: 0;
  opacity: 0.2;
}

.version-card--p3 {
  width: 70%;
  position: relative;
  opacity: 0.4;
}
.version-card--p2 {
  width: 75%;
  position: relative;
  opacity: 0.6;
}
.version-card--p1 {
  width: 80%;
  position: relative;
  opacity: 0.8;
}

.version-card--p0 ~ .version-card {
  position: absolute;
  top: auto;
  bottom: 0;
  height: 0;
  opacity: 1;
}

.version-card--p0 ~ .current {
  width: 100%;
  height: 50px;
  z-index: 2;
}
.current .version-card__header {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.version-card--p0 ~ .version-card--p-1:not(.current) {
  width: 92%;
  height: 60px;
}

.version-card--p0 {
  width: 85%;
  position: relative;
  opacity: 1;
}

.version-card__content {
  overflow: auto;
  max-height: calc(100vh - 280px);
  margin-top: -2px;
}

.version-card .movie {
  min-height: 600px;
}
