<FreestyleAnnotation @slug="thread">
  <p>
    Thread container.
  </p>
</FreestyleAnnotation>

<FreestyleUsage @slug="thread">
  <Boxel::Thread as |t|>
    <t.header @title="Thread Title"></t.header>
    <t.content>Content</t.content>
    <t.sidebar>Sidebar</t.sidebar>
  </Boxel::Thread>
</FreestyleUsage>