.cardpay-workflow-layout-card {
  --horizontal-padding: var(--boxel-sp-lg);
  filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.15));
}

.cardpay-workflow-layout-card-body {
  padding: 0 var(--horizontal-padding);
}