<section class="participants-box" ...attributes>
  <Boxel::Header>
    Participants
  </Boxel::Header>

  <section class="participants-box__participants">
    {{yield}}
  </section>

  {{#if @addAction}}
    <button {{on "click" (optional @addAction)}} class="participant-box__add-button">
      <span class="participant-box__add-button-icon">
        {{svg-jar "plus" width="11px" height="11px"}}
      </span>
      <span class="participant-box__add-button-label">Add participant</span>
    </button>
  {{/if}}
</section>
