.participants-box__participants {
  padding: 10px 0 10px;
}

.participants-box__participants > ul {
  width: 100%;
  padding: 0 var(--boxel-spacing) 10px;
}

.participants-box__participants > ul + ul {
  margin-top: 5px;
  padding-top: 5px;
  border-top: 1px solid var(--boxel-light-400);
}

.participant-box__add-button {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 0 12px;
  width: 100%;
  align-items: center;
  height: 40px;
  background: none;
  border: none;
  padding: 0 var(--boxel-spacing) var(--boxel-spacing);
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
  letter-spacing: var(--boxel-lsp-lg);
}

.participant-box__add-button-label {
  text-align: left;
}

.participant-box__add-button-icon {
  width: 30px;
  height: 30px;
  border: 1px solid var(--boxel-light-400);
  border-radius: 100px;
}

.participant-box__add-button-icon > svg {
  height: 100%;
}
