<div class="card-catalog">
  {{#each model as |contentSample|}}
    <Tray>
      <Boxel @content={{contentSample}} @clickAction={{action "createNew" contentSample}} />
    </Tray>
  {{/each}}

  {{outlet}}
</div>