<div class="drag-drop-animation-page">
  <AnimatedContainer class="cards-list triplet">
    {{#animated-each sortedMascots use=transition duration=200 watch="dragState" as |mascot|}}
      <div class="mascot-card" tabindex="-1" onkeydown={{action handleKey mascot}} onmousedown={{action beginDragging mascot }}>
        <img class="mascot-card-image" draggable="false" src={{mascot.imageURL}} />
        <h3>{{mascot.title}}</h3>
      </div>
    {{/animated-each}}
  </AnimatedContainer>
</div>