/**
 * This file provides base styles for a button, and an interface to accept variables defined in 
 * size-variants.css and kind-variants.css
 */

.boxel-button {
  border-radius: 100px;
  outline: 0;
  white-space: nowrap;

  /* kind variants + disabled state */
  border: var(--boxel-button-border, var(--boxel-border));
  color: var(--boxel-button-text-color, black);
  background-color: var(--boxel-button-color, transparent);

  /* size variants */
  font: var(
    --boxel-button-font,
    var(--boxel-font-sm)
  ); /* font is a bit less clear, should it be controlled by the size variants? */
  min-height: var(--boxel-button-min-height);
  min-width: var(--boxel-button-min-width, 120px);
  padding: var(
    --boxel-button-padding,
    var(--boxel-sp-xs) var(--boxel-sp-sm)
  ); /* also by icon layout variant */
  letter-spacing: var(--boxel-button-letter-spacing, var(--boxel-lsp-lg));
}

.boxel-button__icon {
  width: var(--boxel-button-icon-size);
  height: var(--boxel-button-icon-size);
  user-select: none;
  --icon-color: var(--boxel-button-text-color);
}

.boxel-button:not(:disabled):hover {
  cursor: pointer;
}

.boxel-button:disabled {
  --boxel-button-color: #d9d9d9;
  --boxel-button-border: 1px solid #d9d9d9;
  --boxel-button-text-color: rgba(0, 0, 0, 0.5);
}
