/**
 * This file provides base styles for a button, and an interface to accept variables defined in 
 * size-variants.css and kind-variants.css
 */

.boxel-button {
  border-radius: 100px;
  outline: 0;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  height: min-content;
  align-items: center;

  /* kind variants + disabled state */
  border: var(--boxel-button-border, var(--boxel-border));
  color: var(--boxel-button-text-color, black);
  background-color: var(--boxel-button-color, transparent);

  /* size variants */
  font: var(--boxel-button-font, var(--boxel-font-sm));
  min-height: var(--boxel-button-min-height);
  min-width: var(--boxel-button-min-width, 120px);
  padding: var(--boxel-button-padding, var(--boxel-sp-xs) var(--boxel-sp-sm));
  letter-spacing: var(--boxel-button-letter-spacing, var(--boxel-lsp-lg));
}

.boxel-button:not(:disabled):hover {
  cursor: pointer;
}

.boxel-button:disabled {
  --boxel-button-color: #d9d9d9;
  --boxel-button-border: 1px solid #d9d9d9;
  --boxel-button-text-color: rgba(0, 0, 0, 0.5);
}
