/** 
 * Size variants - variants that control the size and spacing of a button
 * 
 * The @size argument on the button component should create a corresponding class with format
 * boxel-button--size-@size 
 * 
 * Classes for the @size argument can control the following properties:
 * 
 * --boxel-button-padding
 * --boxel-button-min-width
 * --boxel-button-min-height
 * --boxel-button-font
 * --boxel-button-icon-size
 * --boxel-button-icon-spacing
 * --boxel-button-letter-spacing
 * 
 */
.boxel-button.boxel-button--size-small {
  --boxel-button-padding: var(--boxel-sp-xxxs) var(--boxel-sp-sm);
  --boxel-button-font: 600 var(--boxel-font-sm);
  --boxel-button-min-height: 30px;
  --boxel-button-icon-size: var(--boxel-font-size-sm);
  --boxel-button-icon-spacing: var(--boxel-sp-xxs);
}

.boxel-button.boxel-button--size-base {
  --boxel-button-padding: var(--boxel-sp-xs) var(--boxel-sp-sm);
  --boxel-button-font: 600 var(--boxel-font-sm);
  --boxel-button-icon-size: var(--boxel-font-size-sm);
  --boxel-button-icon-spacing: var(--boxel-sp-xs);
  --boxel-button-min-height: 41px;
}

.boxel-button.boxel-button--size-large {
  --boxel-button-padding: var(--boxel-sp-xs) var(--boxel-sp-sm);
  --boxel-button-font: 600 var(--boxel-font);
  --boxel-button-icon-size: var(--boxel-font-size-sm);
  --boxel-button-icon-spacing: var(--boxel-sp-xs);
  --boxel-button-min-height: 46px;
}

/* We only use this in one/two places right now, but putting it here just in case */
/* TODO: decide what to do with collection style */
.boxel-button.boxel-button--size-collection-style {
  --boxel-button-padding: var(--boxel-sp-xs) var(--boxel-sp-sm) var(--boxel-sp-xs) var(--boxel-sp-lg);
  --boxel-button-font: 600 var(--boxel-font-sm);
  --boxel-button-min-height: 41px;
  --boxel-button-min-width: 100%;
  --boxel-button-icon-size: 8px;
  --boxel-button-icon-spacing: var(--boxel-sp-sm);
}