<div class="dashboard" ...attributes>
  {{yield to="left-edge"}}

  <div class="dashboard__sticky-header-container">
    {{yield to="header"}}
  </div>

  <div class="dashboard__body-container">
    {{yield to="body"}}
  </div>
</div>