.boxel-dashboard {
  --boxel-dashboard-background-color: var(--boxel-light-100);
  --boxel-dashboard-color: var(--boxel-dark);

  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  background-color: var(--boxel-dashboard-background-color);
  color: var(--boxel-dashboard-color);
  font: var(--boxel-font);
}

.boxel-dashboard__sticky-header-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.boxel-dashboard__body-container {
  z-index: 0;
  overflow: auto;
  min-height: 50vh;
}
