.thread {
  position: relative;
  height: 100%;
  background-color: var(--boxel-light-300);
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.thread__scroll-wrapper {
  overflow-y: auto;
  padding-bottom: 30px;
}

.thread__content-wrapper {
  height: calc(100% - 90px);
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--boxel-light-300);
  border-radius: var(--boxel-border-radius);
}

.thread__content {
  padding: var(--boxel-spacing);
  /* padding-left: 40px; */
}

@media only screen and (min-width: 1440px) {
  .thread__content {
    padding-right: 80px;
  }
}

.thread__content > * + *,
.thread__sidebar > * + * {
  margin-top: var(--boxel-spacing);
}

.thread__sidebar {
  padding: var(--boxel-spacing);
  padding-bottom: 40px;
}

.thread__sticky-container {
  position: sticky;
  top: 0;
  z-index: 1;
}


/* Message component */
.workflow-message {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: var(--boxel-spacing);
  color: var(--boxel-dark);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.workflow-message__icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-image: url('/assets/images/icons/cardbot-lg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.workflow-message__name {
  display: inline-block;
  font-weight: 600;
}

.workflow-message__time {
  display: inline-block;
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-lg);
}

.workflow-message__name + .workflow-message__time {
  margin-left: 10px;
}

.workflow-message__description {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-lg);
}

.workflow-message__description + .workflow-message__content {
  margin-top: 10px;
}

.workflow-message__content {
  font-size: 0.9375rem; /* 15px */
  line-height: calc(23/15);
  letter-spacing: var(--boxel-lsp-sm);
}

.workflow-message__content > p {
  margin-top: 1px;
  margin-bottom: 30px;
}


/* Divider date line */
.workflow-divider {
  display: grid;
  align-items: center;
  justify-items: center;
  height: var(--boxel-spacing);
  margin-bottom: var(--boxel-spacing);
}

.workflow-divider__hr {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  border: none;
  border-top: 1px solid var(--boxel-light-600);
}

.workflow-divider__date {
  grid-row: 1;
  grid-column: 1;
  padding: 0 10px;
  background-color: var(--boxel-light-300);
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-lg);
  text-align: center;
}


/* Sidebar card */
.workflow-sidebar-card {
  width: 230px;
  min-height: 100px;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

/* Sidebar section */
.workflow-sidebar-section {
  padding: 15px var(--boxel-spacing);
}

.workflow-sidebar-section + .workflow-sidebar-section {
  border-top: 1px solid var(--boxel-light-400);
}

.workflow-sidebar-section__title {
  padding-bottom: var(--boxel-spacing);
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

/* Progress Box */
.progress-pie__status {
  padding-top: 15px;
  color: var(--boxel-dark);
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  text-align: center;
}

/* Milestones */
.milestones {
  --icon-color: var(--boxel-light-600);
  --icon-fill-color: var(--boxel-light-600);

  margin: 0;
  padding-bottom: var(--boxel-spacing);
  color: var(--boxel-purple-400);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.milestones__item {
  position: relative;
}

.milestones__item-grid {
  display: grid;
  grid-template-columns: 16px 1fr;
  grid-template-rows: 1.125rem;
  gap: 0 14px;
  align-items: center;
}

.milestones__item + .milestones__item::before {
  display: block;
  content: "";
  width: 1px;
  height: var(--boxel-spacing);
  margin: 2px 0 3px 7px;
  background-color: var(--boxel-light-600);
}

.milestones__item.current {
  --icon-color: var(--boxel-highlight);
  --icon-fill-color: var(--boxel-dark);

  color: var(--boxel-dark);
  font-weight: 600;
}

.milestones__item.completed {
  --icon-color: var(--boxel-dark);
}

.milestones__item.completed svg {
  padding: 3px;
  background-color: var(--boxel-highlight);
  border-radius: 100px;
}
