<label class="string-field-editor" ...attributes>
  <span class="string-field-editor__label">
    {{@fieldLabel}}
  </span>
  <Input
    class="string-field-editor__input"
    @value={{@fieldValue}}
    {{on "input" (optional @updateFieldValue)}}
  />
</label>